<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1063424615014-vmaeg42b0bear683haiuqnicmfe9q1c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063424615014-vmaeg42b0bear683haiuqnicmfe9q1c2</string>
	<key>API_KEY</key>
	<string>AIzaSyBqf2Pm9ik9vv0yb8LYoiM5UGKrGsvKQLY</string>
	<key>GCM_SENDER_ID</key>
	<string>1063424615014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qwertytoki.workoutholic-flutter</string>
	<key>PROJECT_ID</key>
	<string>workoutholic-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutholic-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063424615014:ios:fb8d3061fa2f30b3</string>
	<key>DATABASE_URL</key>
	<string>https://workoutholic-flutter.firebaseio.com</string>
</dict>
</plist>